/* Reset some basic styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #eaeaea;
}

a {
    text-decoration: none;
    color: #007BFF;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* Input fields */
input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Messages */
.msg {
    margin-top: 20px;
    color: red;
}

/* List styles for S3 Buckets and EC2 Instances */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 10px 0;
}
